*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:arial;
      text-decoration:none;
    }







header{
    height:100px;
    margin-bottom:100px;
      
  }
  
  .menu{
    float:right;
    display:flex;
    flex-direction:row;
    position:absolute;
    top:10%;
    left:60%; 
    
      
  }
 
  
  #vitrine{
    border:1px solid white;
    display:flex;
    flex-direction:row;
      
      
  }
  
  
  #vitrine .prod{
    margin-left:10%;
      
  
  }
  
  #vitrine{
    padding-left:20%;
  }
  
  .prod img{
    width:100px;
  }
  
  
  .link{
    margin-right:30px;
  
  }
  
  #bk{
      text-align:center;
  }
  
  h2{
      margin-top:30px;
      text-align:center;
      margin-bottom:30px;
  }
  .black{
      
   
    align-items: center;
  }
  
  .section-container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
  }
  
  
  .logo{
      float:left;
      margin-left:15%;
      
  }
  .logo >img{
     margin-top:20%;
  }
  
  #botao{
      background-color:red;
      color:white;
  }
  
  input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid red;
    background-color: white;
    color: black;
  }
  
  form{
    display: grid;
  }
  
  footer{
    height: 150px;
    padding: 25px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
  
  footer{
    border:1px dashed white;
    margin-top:100px;
  }
  
  


























.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.image img{
    width: 200px;
    height: 250px;
}

.image a{
    text-decoration: none;
    font-size: 20px;
    background-color: teal;
}

.image{
    border: 1px solid gray;
    padding: 20px;
}

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin-top: 50px;     
}


.product-header{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;;
}





















@media screen and (max-width: 680px) {
  body{
    
  }
    
  header{
    width: 100%;
    
    
  }
  .menu{
    margin-top:150px;
    width: 90%;
    top:0%;
    left:5%; 
  }
  #bk{
    width:80%;

  }

  #nome{
    width:100%;
  }
  
  .logo > img{
    margin-left: 30%;
    
  }
  
  #vitrne{
    
    display:flex;
    flex-direction:column;
  }
  
  #vitrine .prod{
    
    margin-left:1%;
  }
  
  .prod img{
    
    width:80%;
  }
  
  
  .link{
    margin-right:3%;
    margin-left:10%;
    font-family:Arial, sans-serif;
    
  }
  
  
  footer{
    width:90%;
  }
  
  }
  
  
  
  